version: '3'
services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    ports:
      - '{$POSTGRES_HOST_PORT}:{$POSTGRES_CONTAINER_PORT}'
    environment:
      - POSTGRES_USER={$POSTGRES_USER}
      - POSTGRES_PASSWORD={$POSTGRES_PASSWORD}
      - POSTGRES_DATABASE={$POSTGRES_DATABASE}
    networks:
      - local
  app:
    container_name: {$PROJECT_NAME}
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - local
    restart: always
